services:
  api:
    build: .
    env_file:
      - .env
    command: uvicorn api.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./:/app
    ports:
      - "8000:8000"

  app:
    build: .
    env_file:
      - .env
    command: streamlit run app/app.py --server.port 8501 --server.address 0.0.0.0
    volumes:
      - ./:/app
    ports:
      - "8501:8501"
    depends_on:
      - api
